<!DOCTYPE html>
<html th:fragment="base(titulo, conteudo)" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title th:replace="${titulo}" >Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand">Início</a>

        <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/produto}" class="nav-link">Produtos</a>
                </li>
            </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/cliente}" class="nav-link">Cliente</a>
            </li>
        </ul>
        </div>
</nav>

<div th:insert="${conteudo}">

</div>
</body>
</html>