<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Produto</title>
</head>
<body>
    <div id="conteudo" class="container">
        <form th:object="${produtoDTO}" method="post" th:action="@{'/produto/salvar/' + *{id}}">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="form-group">
                        <label>ID: </label>
                        <input disabled th:field="*{id}" class="form-control" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="nome">Nome: </label>
                        <input th:field="*{nome}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Fulano"/>
                        <span class="small">Insira o nome do livro.</span>
                        <div th:errors="*{nome}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-group">
                        <label for="autor">Autor: </label>
                        <input th:field="*{autor}" class="form-control" type="text" placeholder="Sicrano"/>
                        <span class="small">Insira o nome do autor.</span>
                        <div th:errors="*{autor}" class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="imagem">Url da Imagem: </label>
                        <input th:field="*{imagem}" class="form-control" type="text" placeholder="http://imagem.jpg">
                        <span class="small">Insira a url da imagem do livro.</span>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Editar</button>
                    <a th:href="@{'/produto/' + *{id}}" class="btn btn-warning mt-2" type="button">Cancelar</a>
                    <a th:href="@{'/produto/delete/' + *{id}}" class="btn btn-danger mt-2" type="button">Deletar</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>