<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>
    <title>Início</title>
</head>
<body>

<div class="container" id="conteudo">
    <div class="card">
        <div class="card-body">
            <div th:each="produto : ${lista}">
                <h1 class="title">Título: <a th:href="@{'/produto/' + ${produto.id}}">
                    <span th:text="${produto.nome}">Nome</span>
                </a></h1>
                <h2 class="subtitle" th:text="${produto.autor}">Autor</h2>
                <img class="image-fluid" th:src="${produto.imagem}" alt="Imagem">
            </div>
        </div>
    </div>
</div>
</body>
</html>